
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================================
   Animated Card
========================================= */

.outer {
  width: 100%;
  max-width: 1100px;
  border-radius: 20px;
  padding: 1px;
  background: #111111;
  position: relative;
  margin: auto;
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }

  25% {
    top: 10%;
    right: calc(100% - 35px);
  }

  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }

  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  border-radius: 19px;
  border: solid 1px #202222;
  background: #050505;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  padding: 40px;
  overflow: hidden;
  position: relative;
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}

.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.bottoml {
  bottom: 10%;
}

.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}

/* =========================================
   Grid Background
========================================= */

.grid-container {
  width: 100%;
  min-height: 100vh;

  --color: rgba(114, 114, 114, 0.15);

  background-color: #050505;

  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );

  background-size: 55px 55px;
}

/* =========================================
   Premium Neumorphism Input
========================================= */

.input-container {
  display: flex;
  width: 100%;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  border-radius: 1rem;
  box-shadow:
    10px 10px 20px #0e1013,
    -10px -10px 40px #383e4b;
  padding: 0.3rem;
  gap: 0.3rem;
}

.input-container input {
  border-radius: 0.8rem;
  background: #23272f;

  box-shadow:
    inset 5px 5px 10px #0e1013,
    inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0),
    0px 0px 100px rgba(255, 102, 0, 0);

  width: 100%;
  padding: 1rem;

  border: none;
  border: 1px solid transparent;

  color: white;
  font-size: 15px;

  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border: 1px solid #ffd43b;
  outline: none;

  box-shadow:
    inset 0px 0px 10px rgba(255, 102, 0, 0.5),
    inset 0px 0px 10px rgba(255, 212, 59, 0.5),
    0px 0px 30px rgba(255, 212, 59, 0.3),
    0px 0px 30px rgba(255, 102, 0, 0.3);
}

.input-container input::placeholder {
  color: #94a3b8;
}

@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }
}

/* =========================================
   Google Login Button
========================================= */

.google-btn {
  width: 100%;
  max-width: 320px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  padding: 0.9rem 1.4rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.08);

  color: rgb(65, 63, 63);
  background-color: #ffffff;

  cursor: pointer;

  transition: all 0.4s ease;
}

.google-btn svg {
  height: 24px;
  width: 24px;
}

.google-btn:hover {
  transform: scale(1.03);
  box-shadow:
    0px 0px 20px rgba(255, 255, 255, 0.15);
  }